#fullpage
  -# Opening Hero
  %section.section.hero
    %header
      = image_tag "images/rewind.svg"
      = image_tag "images/rewind-arrow.svg"
    =image_tag "images/title-text.svg", class: "title-text"
    .down-arrow
      =image_tag "images/arrows.png"

  -# Opening Hero
  %section.section.hero{style: "padding-top: 10%"}
    .container
      =image_tag "images/lets-work.svg", class: "lets-work"
      %aside
        =image_tag "images/ignite-logo.svg", class: "ignite-logo"
      %article
        %header.header-title
          Ignite
          %span{style: "width: 342px"}
        .content
          %p 2014 has been a good year. We pushed a lot of code, did some ugly dancing, cemented our process and teamed up with amazing folks both here at home and abroad. With a team of 23 strong, we’re making good on our promise to change the way people work. As we look forward to 2015, the future has never seemed brighter. Big ups to everyone who’s helped us along the way. So let’s raise a glass, rewind and celebrate a year well done. Together, we are Ignite.
  -# Team
  %section.section.team
    .container
      %aside{style: "padding-top: 10%"}
        %h2 Team
        %p Big on personality, smart and incredibly good-looking, our team is a mixed bag of creative geniuses, space cowboys, skinny jeans and special dietary menus. Somehow we shake out to a functional team.
        %dl
          %dt
            Piggy Smalls a.k.a. Pignite is arguably our most popular office pet with over 300 likes on Instagram and Facebook.
          %dd
            =image_tag "images/instagram-heart.png"
            =image_tag "images/instagram-heart-2.png"
      %article
        .content
          %header.header-title{style: "padding-top: 10%"}
            Our Team
            %span{style: "width: 100%"}
          %p
            =image_tag "images/humans.svg", class: "humans"
            =image_tag "images/newbies.svg", class: "newbies"

  %section.section.team
    .container
      %aside{style: "padding-top: 10%"}
        =image_tag "images/commute.svg", class: "commute"
        %h6 The fastest commutes to the office are 3 minutes by foot and 30 milliseconds by Internet tubes.
        %p
          =image_tag "images/commute-by.svg"
      %article
        .content
          %header.header-title{style: "padding-top: 10%"}
            Disciplines
            %span{style: "width: 272px"}
          %ul.discipline
            %li
              = image_tag "images/disciplines-bars.svg"
              = image_tag "images/disciplines-numbers.svg"
          %p
            %span.horizontal-divider
            Renegades from the worlds of product development, web design, branding, staffing and beyond bring an original perspective to Ignite and the problems we face.
          %p
            %span.white Days worked by location
            = image_tag "images/office-breakdown.svg", class: "img-padding"
            * For nearly two months, we were officeless, waiting out our space renovation. Lucky for us, we had CoWork Jax, feeding us caffeine and connecting us with some of the city’s best.
  -# Office
  %section.section.office
    .container
      %aside{style: "padding-top: 10%"}
        %h2 Office
        %p We don’t believe in set structures or fixed departments per se, not because  we don’t respect the “rules” of traditional business. We just have a different way of thinking, working and behaving.
        %ul
          %li
            =image_tag "images/build.png"
          %li
            %span 3,533 SQ. FT.
          %li
            Added to the office in 2014
      %article
        .content
          %header.header-title{style: "padding-top: 20%"}
            Growth By Year
            %span{style: "width: 100%"}
          %ul.growth
            %li
            = image_tag "growth.svg"
            = image_tag "growth-dots.svg"
          %p
            %span.white A typical day at the office
            = image_tag "images/typical-day.svg", class: "img-padding"

  %section.section.office
    .container
      %aside{style: "padding-top: 10%"}
        %p
          =image_tag "images/local-header.svg", class: "heading"
        %dl.eats
          %dt
            = link_to "Vagabond", "http://vagabondcoffee.com/", target: "_blank"
            = link_to "Chamblin’s", "https://www.facebook.com/chamblinsuptown", target: "_blank"
            = link_to "BREW", "http://brewfivepoints.com/", target: "_blank"
          %dd
            = image_tag "images/coffee.svg"
        = image_tag "images/eats-divider.svg", class: "food-divider"
        %dl.eats
          %dt
            = link_to "Café Nola", "http://www.mocajacksonville.org/cafe/", target: "_blank"
            = link_to "Burrito Gallery", "http://www.burritogallery.com/", target: "_blank"
            = link_to "Chomp Chomp", "https://twitter.com/chompchompjax", target: "_blank"
          %dd
            = image_tag "images/lunch.svg"
        = image_tag "images/eats-divider.svg", class: "food-divider"
        %dl.eats
          %dt
            = link_to "Black Sheep", "http://blacksheep5points.com/", target: "_blank"
            = link_to "Dos Gatos", "http://www.dosgatosjax.com/", target: "_blank"
            = link_to "Volstead", "https://plus.google.com/108552992381379570856/about?gl=us&hl=en", target: "_blank"
          %dd
            = image_tag "images/cocktails.svg"
        = image_tag "images/eats-divider.svg", class: "food-divider"
        %dl.eats
          %dt
            = link_to "Native Sun", "http://nativesunjax.com/", target: "_blank"
            = link_to "Zoës Kitchen", "http://zoeskitchen.com/", target: "_blank"
            = link_to "Indochine", "http://indochinejax.com/downtown.html", target: "_blank"
          %dd
            = image_tag "images/catering.svg"

      %article
        .content
          %p
            = image_tag "images/shake-it-off.svg"
          %dl.count
            %dd
              %span 01
              Number of Sonos speakers in the office
            %dd
              %span 31
              Times we danced to“Shake it Off” by Taylor Swift
            %dd
              %span 50
              Number of days that song was available on Spotify
          %header.header-title
            Consumed Daily
            %span{style: "width: 330px"}
          =image_tag "images/consumed-daily.svg", class: "consumed-daily"
          =image_tag "images/consumed-dail-bars.svg", class: "consumed-daily"

  %section.section.office
    .container
      %aside{style: "padding-top: 10%"}
        %p
          =image_tag "images/conferences-header.svg", class: "heading"
          =image_tag "images/conferences-stats.svg"
      %article
        .content
          %header.header-title{style: "padding-top: 10%"}
            Travel
            %span{style: "width: 100%"}
          %h2.big-text 132,800 MILES
          =image_tag "map.svg", class: "map"
          =image_tag "map-dots.svg", class: "map"
          %ul.miles-stats
            %li
              .circle
                20
              Airport Visits
            %li
              .circle
                13
              International Visitor
            %li
              .circle
                04
              Countries Visited
            %li
              .circle
                26
              Days Spend Abroad

  -# Process
  %section.section.process
    .container
      %aside{style: "padding-top: 10%"}
        %h2 Process
        %p Sure, we’re laissez-faire. But we perform best when we have a plan. Our process keeps us in line and on track.
      %article
        .content
          %header.header-title{style: "padding-top: 10%"}
            Elements
            %span{style: "width: 488px"}
          %p
            =image_tag "gettin-down.svg", class: "elements"
            =image_tag "hudileda.svg", class: "elements"

  %section.section.process
    .container
      %aside{style: "padding-top: 10%"}
        %p
          =image_tag "how-we-work-header.svg", class: "heading"
          =image_tag "how-we-work-stats.svg"
      %article
        .content{style: "padding-top: 10%"}
          %figure
            =image_tag "products-1.svg"
            =image_tag "products-2.svg"
            =image_tag "products-3.svg"

  -# Products
  %section.section
    .slide.catalyst
      .container
        %aside{style: "padding-top: 10%"}
          %h2 Products
          %p We are what we create.
          %h5 Crowd Favorites
          %ul.slide-menu
            %li
              = link_to "Catalyst", "#", class: "active"
            %li
              = link_to "Fetch"
            %li
              = link_to "Matchstiq"
            %li
              = link_to "WickedSmart"
        %article
          .content
            %h4 Catalyst
            %p{style: "width: 560px"}
              Catalyst has grown to inspire intrapreneurs and organizations worldwide. Applying HuDiLeDa to business challenges within a workshop setting, Catalyst facilitates fresh thinking and sustainable innovation.
            %header.header-title{style: "padding-top: 10%"}
              2014 Workshops
              %span{style: "width: 528px"}
            %p
              =image_tag "images/catalyst.svg"

    .slide.fetch
      .container
        %aside{style: "padding-top: 10%"}
          %h2 Products
          %p We are what we create.
          %h5 Crowd Favorites
          %ul.slide-menu
            %li
              = link_to "Catalyst"
            %li
              = link_to "Fetch", "#", class: "active"
            %li
              = link_to "Matchstiq"
            %li
              = link_to "WickedSmart"
        %article
          .content
            %h4 Fetch
            %p{style: "width: 560px"} Need to fill jobs fast? Fetch uses SMS technology to reach job-seekers on the go. Set up a campaign online and out go the details with prompts to respond. People can reply that they’re interested, opt out or, if you work at Ignite, try to break the app or mean tweet the Fetch dev team.
            %header.header-title{style: "padding-top: 10%"}
              National Rollout
              %span{style: "width: 558px"}
            %p
              =image_tag "images/fetch.svg"
    .slide.matchstiq
      .container
        %aside{style: "padding-top: 10%"}
          %h2 Products
          %p We are what we create.
          %h5 Crowd Favorites
          %ul.slide-menu
            %li
              = link_to "Catalyst"
            %li
              = link_to "Fetch"
            %li
              = link_to "Matchstiq", "#", class: "active"
            %li
              = link_to "WickedSmart"
        %article
          .content
            %h4 Matchstiq
            %p{style: "width: 560px"} Matchstiq makes hiring a whole lot easier. With job orders, conversations and reports all in one place, hiring managers and recruiters always know where things stand. Tasks like résumé formatting and data crunching are automated, drawing the shortest line possible from “Hey, I need a person” to “You’re hired” and beyond.
            %header.header-title{style: "padding-top: 10%"}
              Team
              %span{style: "width: 488px"}
            %p
              =image_tag "images/matchstiq.svg"
    .slide.wickedsmart
      .container
        %aside{style: "padding-top: 10%"}
          %h2 Products
          %p We are what we create.
          %h5 Crowd Favorites
          %ul.slide-menu
            %li
              = link_to "Catalyst"
            %li
              = link_to "Fetch"
            %li
              = link_to "Matchstiq"
            %li
              = link_to "WickedSmart", "#", class: "active"
        %article
          .content
            %h4 WickedSmart
            %p{style: "width: 560px"} WickedSmart matches students and recent grads to opportunities that build careers, not just résumés.
            %header.header-title{style: "padding-top: 10%"}
              Signups: Students &amp; Alumns Signups:
              %span{style: "width: 738px"}
            %p
              =image_tag "images/wickedsmart.svg"

  %section.section.love
    .container
      %aside{style: "padding-top: 10%"}
        %h2 Jax Love
        %p We helped make these things happen, and we believe in the people behind them.
      %article
        .content
          %h2 Dev + Des
          %h2 AIGA
          %h2 Meros Academy
          %h2 One Spark Innovation
          =image_tag "images/heart.svg"

:javascript
  $(document).ready(function() {
    $('#fullpage').fullpage();
  });
